<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Sport Picks | Online Picks</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>


	<!-- show any messages that come back with authentication -->

	<div class="jumbotron" style="background-image: url(images/grassBackground.jpg); background-repeat;" >
<div class="container">
		<h1 style="color:#ffffff;">Sport Picks</h1>
		<p style="color:#ffffff;">Welcome to Sport Picks. Sport Picks is a simple online application for running picks competitions.</p>
	</div>
	</div>

<div class="container">
	<div class="col-sm-3">	
		<h1><span class="fa fa-sign-in"></span> Login</h1>
		<% if (successMsg.length > 0) { %><div class="alert alert-success"><span class="fa fa-check"></span>&nbsp<%= successMsg %></div><% } %>
		<% if (dangerMsg.length > 0) { %><div class="alert alert-danger"><span class="fa fa-warning"></span>&nbsp<%= dangerMsg %></div><% } %>
		<% if (warningMsg.length > 0) { %><div class="alert alert-warning"><span class="fa fa-warning"></span>&nbsp<%= warningMsg %></div><% } %>		
		<!-- LOGIN FORM -->
		<form action="/login" method="post">
			<div class="form-group">
				<label>Email</label>
				<input type="text" class="form-control" name="email">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" name="password">
			</div>
	
			<button type="submit" class="btn btn-warning btn-lg">Login</button>
		</form>
	</div>

	<div class="col-sm-3">
	</div>

	<div class="col-sm-3">	
	</div>


</div>
</body>
</html>
